@model IEnumerable<ProjetoFinal.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Registre Aqui</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaisNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaisNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaisId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PaisId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PaisId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
