@model IEnumerable<ProjetoFinal.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Registre Aqui</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.FornecedorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProduto.TipoProdutoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
