@model ProjetoFinal.Models.Saida

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Saida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdutoEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdutoEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantidadeSaidaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantidadeSaidaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleinteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleinteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSaida.TipoSaidaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaidaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
