@model IEnumerable<ProjetoFinal.Models.Saida>

@{
    ViewData["Title"] = "Index";
}

<h1>Registre Aqui</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeSaidaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CleinteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeSaidaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CleinteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSaida.TipoSaidaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaidaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SaidaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.SaidaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
